<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout('RegistroUser', 'registroUser', false, ~{::section})}">

    <section class="pdx-register-bg">

        <div class="pdx-register-card container">
            <div class="col-12 text-center mb-1 mt-3 tituloRegister" id="tituloRegister">Registro Entrenador pokemon</div>

            <div class="table-responsive">
                <form>

                    <table>
                        <thead class="col-12">
                            
                            <tr></tr>
                            
                        </thead>
                    </table>
                    
                </form>
            </div> 

        </div>

    </section>
</html>
